#invoice-POS{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 50%;
  background: #FFF;

}
#invoice-POS .image {
  width:50px;
  height: 50px;
} 

#invoice-POS  h1{

  font-size: 1.5em;
  color: #222;
}
#invoice-POS  h2{
  font-size: 20px;
  font-family: sans-serif;
}
#invoice-POS  h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
  font-family: sans-serif;
  font-weight:bold;
}
#invoice-POS  p{
  font-size: 16px;
  color: #666;
  line-height: 1.2em;
}

#invoice-POS  #top, #mid,#bot{ 
  border-bottom: 1px solid #EEE;
}

#invoice-POS#invoice-POS  #top{min-height: 100px;}
#invoice-POS #mid{min-height: 80px;} 
#invoice-POS #bot{ min-height: 50px;}

#invoice-POS #top .logo{

  height: 60px;
  width: 60px;

  background-size: 60px 60px;
}
#invoice-POS .clientlogo{
  float: left;
  height: 60px;
  width: 60px;
  background: url("../../media/logo.png") no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}
#invoice-POS  .info{
  display: block;
  
  margin-left: 0;
}
#invoice-POS .title{
  float: right;
}
#invoice-POS .title p{text-align: right;} 
#invoice-POS  table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
#invoice-POS td{

}
#invoice-POS .tabletitle{
 
  font-size: .5em;
  background: #EEE;
}
#invoice-POS  .service{border-bottom: 1px solid #EEE;}
#invoice-POS .item{width: 24mm;}
#invoice-POS .itemtext{font-size: .5em;}

#invoice-POS  #legalcopy{
  margin-top: 5mm;
}

#invoice-POS  .payment { 
  color: red;
}

#invoice-POS .item{width: 24mm;}
#invoice-POS .itemtext{font-size: .5em;}



.cardWrap {

  display: inline-block;
  margin: 3em auto;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
  height: 11em;
  position: relative;
  padding: 1em;
  margin-top: 10px;
  margin-left: 50px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}

.barcode {
  float: right;
  height: 2em;
  width: 0;
  margin: 1.2em 6em 0 .8em;
  box-shadow: 1px 0 0 1px black,
    5px 0 0 1px black,
    10px 0 0 1px black,
    11px 0 0 1px black,
    15px 0 0 1px black,
    18px 0 0 1px black,
    22px 0 0 1px black,
    23px 0 0 1px black,
    26px 0 0 1px black,
    30px 0 0 1px black,
    35px 0 0 1px black,
    37px 0 0 1px black,
    41px 0 0 1px black,
    44px 0 0 1px black,
    47px 0 0 1px black,
    51px 0 0 1px black,
    56px 0 0 1px black,
    59px 0 0 1px black,
    64px 0 0 1px black,
    68px 0 0 1px black,
    72px 0 0 1px black,
    74px 0 0 1px black,
    77px 0 0 1px black,
    81px 0 0 1px black;

}

h1 {
  font-size: 1.1em;
  margin-top: 0;

}

h1 span { 

  font-weight: normal;

}

.title h2 {
  font-size: .9em;
  color: #525252;
  margin: 2em 0 0 0;
}

.name h2 {
  font-size: .9em;
  color: #525252;
  margin: 0;
}

.time h2 { 
  font-size: .9em;
  color: #525252;
  margin: 0;
}

.title span { 
  font-size: .7em;
  color: #a2aeae;
}

.name span { 
  font-size: .7em;
  color: #a2aeae;
}

.seat span { 
  font-size: .7em;
  color: #a2aeae;
}

.time span { 
  font-size: .7em;
  color: #a2aeae;
}
.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
}

title {
  margin: 2em 0 0 0;
}

.name, .seat {
  margin: .7em 0 0 0;
}

.time {
  margin: .7em 0 0 1em;
}

.seat, .time {
  float: left;
}

footer 
{
  display:inline-block;
  width: 100%;

}

.allTix
{
  margin-bottom: 50%;


}






