html {
	scroll-behavior: smooth;

}



body{
	background-color:#fff"
}

header {position: fixed; top: 0; right: 0; width: 100%;z-index:1;background:white;}


header  h2{margin:0px;}
.nav{
	font-family: 'Montserrat', sans-serif;
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	background-color: #333;
}
.nav li{
	display:inline;
}
.nav a{
	display: block;
	color: white;
	display:inline-block;
	padding:10px;
}
.nav a:hover { 
	background-color: #111;
}

@media screen and (max-width: 44em) {
	nav[role="full-horizontal"] {
		ul > li {
			width: 100%;
		}
	}
}

.parallax { 
	/* The image used */
	background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

	/* Set a specific height */
	height: 700px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 500%);
}

/* Feature Boxes */

.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	margin-bottom: 6em;

}

.feature:last-child {
	margin-bottom: 2em;
}

.feature.left {

	flex-direction: row;
}

.feature.right {

	flex-direction: row-reverse;
}

.feature .image {
	width: 48%;
}

.feature .image img {
	max-width: 100%;
}

.feature .content {
	padding: 2em 3em 0.1em 3em;
	width: 52%;
}

@media screen and (max-width: 1280px) {

	.feature {
		margin-bottom: 4em;
	}

	.feature .content {
		padding: 1em 2em 0.1em 2em;
	}

}

@media screen and (max-width: 980px) {

	.feature.left, .feature.right {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.feature .image {
		width: 100%;
	}

	.feature .image img {
		width: 100%;
	}

	.feature .content {
		padding: 2em 2em 0.1em 2em;
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	.feature {
		margin-bottom: 2em;
	}

	.feature .content {
		padding: 2em 1em 0.1em 1em;
	}

}

.feature {
	background-color: rgba(144, 144, 144, 0.075);
}

/* Wrapper */

.wrapper {
	padding: 8em 0 6em 0;
	position: relative;
	
}

.wrapper > .inner {
	margin: 0 auto;
	width: 70em;
}

.wrapper.style1 {
	background-color: #fff;
	color: #777;
}

.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
	color: #555;
}



.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
	color: #555;
}

.wrapper.style1 blockquote {
	border-left-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 code {
	background: #fff;
	border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 hr {
	border-bottom-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 header p {
	color: #555;
}

.wrapper.style1 .feature {
	background-color: #fff;
}


.section3 {
	background-color: #1E2832;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed;
	background-position: center; /* Center the image */
	background-repeat: no-repeat;
	background-image: url("../../media/overlay.png"), url("https://images.unsplash.com/photo-1512149177596-f817c7ef5d4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=945&q=80");
	background-size: cover;
	height: auto;
	border: 2px solid 

}


@media screen and (max-width: 1280px) {

	.wrapper {
		padding: 6em 0 4em 0;
	}

	.wrapper > .inner {
		width: 65em;
	}

}

@media screen and (max-width: 980px) {

	.wrapper {
		padding: 5em 3em 3em 3em;
	}

	.wrapper > .inner {
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	.wrapper {
		padding: 3em 2em 1em 2em;
	}

}

@media screen and (max-width: 480px) {

	.wrapper {
		padding: 2em 1em 0.1em 1em;
	}

}
.movieCard
{
	background: grey;
	margin:2%;
	max-width: 500px;
	max-height: 500px;
	font-family: arial;
	border-style: solid; 
	border-width: 3px;
	overflow: auto;
	box-sizing:border-box;
}

.movieCardImage
{
	display: inline-block;
	width: 45%;
	height: 75%;
	padding: auto;
	margin: 2%;
	border-style: solid;
	border-width: 2px;
	border-color: red;
	box-sizing:border-box;

}

.movieCardTitle
{
	width:45%;
	height:auto;
	float:right;
	display:inline-block;
	white-space: nowrap;
	box-sizing:border-box;
}



.movieCardText
{
	text-align: justify;
	line-height: 1.8;
	float:right;
	height:auto;
	width:auto;
	margin-top: -300px;
	padding-right: 10%;
	display: inline-block;
	box-sizing:border-box;
}

.flex-container
{
	width:100%;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;  
}



.synopsis-box
{
	background: grey;
	border-style: solid;
	display: block;
	width: 100%;
	height: 700px;
	overflow:scroll;
	margin:auto;
}

.synopsis-box img
{
	box-sizing: border-box;
	border-style: solid;
	display: inline-block;
	margin:2%;
	float:right;
	height:400px;
	width: 600px;
	min-height: 60%;
	min-width:40%

}
.synopsis-box span 
{
	display: inline-block;
	width:400px;
	height:400px;
	min-height:60%;
	min-width: 40%;
	border-style: solid;
	margin: 2%;
}

.synopsis-box h1
{
	font-size: 5;
	color: red;
	text-align: center;
}
.synopsis-bar 
{
	font-size:30px;
	height:120px;
	text-align: center;
	width:90%;
	display:block;
	color:white;
	border-style: solid;
	margin: 5%;
	margin-top: 2%;
}
.synopsis-box button
{
	background-color: green;
	color:white;
	padding: 10px 24px;
	width:200px;
	float:left
}
.synopsis-box button:hover
{
	background: red;
}

.pricesbox { 
	background: grey;
	margin:2%;
	max-width: 700px;
	width:547px;
	max-height: 700px;
	height: 1200px;
	font-family: arial;
	border-style: solid; 
	border-width: 1px;
	border-left: none;

	border-bottom: none;
	
	overflow: auto;
	box-sizing:border-box;
	margin: 0px;
	background: rgba(0, 0, 0, 0.5); 
}

.anchor { 
	display: block;
	position: relative;
	top: -145px; 
	visibility: hidden;
}

.priceCardTitle
{
	width:45%;
	height:auto;
	text-align: center;

	white-space: nowrap;
	box-sizing:border-box;
}

table {
	font-family: arial, sans-serif;
	font-size: 23px; 
	border-collapse: collapse;
	width: 100%;
	font
	
    
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	padding: 15px;
	text-align: left;

}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {
	background-color: goldenrod;
}

.flex-container p { 
	
}



